{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CSV Sync plugin for Craft CMS
 *
 * SyncStatus Widget Body
 *
 * @author    Kevin Hamer
 * @copyright Copyright (c) 2018 Kevin Hamer
 * @link      https://www.imarc.com/
 * @package   CsvSync
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@imarc/csvsync/assetbundles/syncstatuswidget/dist', true) ~ '/img/SyncStatus-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
